@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  width: 100vw; 
  max-width: 1680px;
  margin: 0 auto;
  text-align: center;
  height: 100%;
  size: 18px;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

.formalanı {
  @apply border-solid border-[1px] rounded-md lg:text-lg md:text-sm font-Inter font-medium xs:py-1 xs:px-4 xs:text-xs  dark:text-white dark:border-btn-ş dark:bg-btn-bcg text-purple2 border-borderC
}

.formlabel {
  @apply font-Inter md:text-2xl font-medium text-left sm:text-lg xs:text-base dark:text-t-lilac text-purple
}

.formdiv {
  @apply flex flex-col text-left dark:bg-d-body bg-white gap-4
}

.prbutton {
  @apply border-solid border-[1px] rounded-md lg:text-lg md:text-sm font-Inter font-medium md:py-1 md:px-4 xs:text-xs xs:px-2 xs:py-0 dark:text-ş dark:border-btn-ş dark:bg-btn-bcg text-purple2 border-borderC 
}

.prsite {
  @apply font-Inter font-medium cursor-pointer underline md:text-base xs:text-xs dark:text-btn-t text-purple2
}
.hrline {
  @apply border-solid border-[1px] border-lilac w-full text-lilac
}

.başlık {
  @apply font-Inter font-semibold md:text-5xl sm:text-2xl xs:text-xl dark:text-h1 text-black
}

.altbaşlık {
  @apply font-Inter md:text-3xl font-medium text-left sm:text-lg xs:text-base dark:text-t-lilac text-purple 
}

.prdes {
  @apply font-Inter font-normal md:text-sm text-left xs:text-xs dark:text-white text-gray2
}